nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    transition: all 0.4s ease;
}

nav .nav-content {
    height: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-content .nav-links {
    display: flex;
}

.nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
}

.nav-links li a {
    text-decoration: none;
    color: #00ABAA;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 4px;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 47px;
    transition: all 0.5s ease;
}

.nav-links li a:hover {
    color: #000000;
    background: #FDD615;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 47px;
    transition: all 0.5s ease;
}

.nav-links li .active {
    color: #000000;
    background: #FDD615;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 47px;
}

.nav-links-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #FDD615;
    border-radius: 50%;
}

.nav-links-group li a:hover {
    background: none;
}

.nav-links-menu img {
    width: 30px;
    height: 30px;
}

.nav-links-menu .notification {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-bottom: 30px;
    margin-left: 30px;
    background: #00ABAA;
    border-radius: 100px;
}

.nav-menu {
    background: #FFFFFF;
    width: 400px;
    height: 300px;
    position: absolute;
    margin-left: -350px;
}

.ul .li {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-around;
}

.ul .li .image img {
    width: 75px;
}

.ul .li .data {
    display: grid;
}

.ul .li .data .name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.ul .li .data .opis {
    margin-top: 13px;
    font-size: 14px;
    text-align: center;
}