.reports {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ECF6F8;
    padding-top: 70px;
}

.containers {
    display: flex;
    align-items: center;
    min-width: 1100px;
}

.containers .icons {
    display: flex;
    margin-left: 58px;
}

.containers .icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 12px;
    margin-bottom: 50px;
    background: #FDD615;

    cursor: pointer;
}

.form-border {
    display: flex;
    min-width: 860px;
    min-height: 115px;
    background: #00ABAA;
    border-radius: 30px;
    margin-bottom: 40px;
}

.form-repeat-border {
    min-height: 200px;
}

.form-ques {
    margin: auto;
    min-width: 850px;
    min-height: 90px;
    background: #FFFFFF;
    border-radius: 25px;
    /* padding-left: 35px; */
}

.form-ques-fields {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: initial;
}

.form-ques-field {
    background: #ECF6F8;
    border-radius: 15px 15px 0px 0px;
    width: 400px;
    height: 50px;
    margin-left: 20px;
}

.answer-field {
    margin-left: 10px;
}

.form-ques-fields input {
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 400px;
    background-color: #ECF6F8;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 30px;
}

.form-ques-field:first-child {
    margin-bottom: 30px;
}

.tag-fields {
    margin-top: 0;
}